<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- TODO [kog@epiphanic.org - 5/30/15]: Property resolver -->
    <bean id="storageDirectory" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="/tmp/hss"/>
    </bean>

    <bean class="com._8x8.cloud.hss.resource.StreamResource" id="streamResource">
        <property name="streamService" ref="streamService"/>
    </bean>

    <bean class="com._8x8.cloud.hss.service.StreamService" id="streamService" init-method="init">
        <property name="streamStorageDirectory" ref="storageDirectory"/>
        <property name="filterManager" ref="filterManager"/>
    </bean>

    <bean class="com._8x8.cloud.hss.filter.FilterManager" id="filterManager" init-method="init"/>
</beans>