<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Map our actual Jersey-based API dispatch to /api/* -->
    <servlet>
        <servlet-name>api-dispatch</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>

        <!-- Rather than using @Component annotations, let's explicitly wire up our resources, providers and features. -->
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value> com._8x8.cloud.hss.JerseyApplication</param-value>
        </init-param>

        <!-- Add some media types for the UriConnegFilter so that people can do content negotiation via URIs (IE: foo.json). -->
        <init-param>
            <param-name>jersey.config.server.mediaTypeMappings</param-name>
            <param-value>xml : application/xml, json : application/json</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>api-dispatch</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- Sacrifice our blood sacrifices to Swagger-UI -->
    <servlet>
        <servlet-name>swagger</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/hss/api</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>swagger</servlet-name>
        <!-- We're not actually going to hit this servlet... this is more about configuring context. -->
        <url-pattern>/doc</url-pattern>
    </servlet-mapping>
</web-app>